<h1>The Engine Room</h1>
<h3>Car Showroom</h3>

<nav class ="index-nav">
    <a class="btn btn-index" href="/">Home</a>
    <a class="btn btn-index" href="/cars">Stock List</a>
    <a class="btn btn-index" href="/manufacturers">Manufacturer List</a>
</nav>

<ul>
    <% for car in @cars %>
    <li class="obj-container">
        <p class="obj-header">Manufacturer: <%= car.manufacturer? %></p>
        <p class="obj-header">Model: <%= car.model %></p>
        <p class="obj-header">Year: <%= car.year %></p>
        <p class="obj-header">Sell Price: £<%= car.sell_price %></p>
        <a class="btn" href="/cars/<%= car.id %>">Details</a>
    </li>
    <% end %>
    <li><a class="obj-container" id="obj-container-placeholder" href="/cars/new">New Entry(Car)</a></li>
</ul>
