    <div class="show-info-div">
        <p class="show-info">Manufacturer: <%= @car.manufacturer? %></p>
        <p class="show-info">Model: <%= @car.model %></p>
        <p class="show-info">Condition: <%= @car.condition %></p>
        <p class="show-info">Type: <%= @car.type %></p>
        <p class="show-info">Year: <%= @car.year %></p>
        <p class="show-info">Engine: <%= @car.engine %></p>
        <p class="show-info">Transmission: <%= @car.transmission %></p>
        <p class="show-info">Fuel Type: <%= @car.fuel_type %></p>
        <p class="show-info">Description: <%= @car.description %></p>
        <p class="show-info">Stock: 
        <span class="stock-span-1"><%= @span1 %></span>
        <span class="stock-span-2"><%= @span2 %></span>
        <span class="stock-span-3"><%= @span3 %></span></p>
        <p class="show-info">Buy Price: £<%= @car.buy_price %></p>
        <p class="show-info">Sell Price: £<%= @car.sell_price %> 
        <span class="span-profit"><%= @span_profit %></span>
        <span class="span-loss"><%= @span_loss %></span></p>
        <hr/>
        <div class ="btn-div">
            <form method="get" action="/cars">
                <input class="btn btn-show" type="submit" value="Back To Inventory"/>
            </form>

            <form method="get" action="/cars/<%= @car.id %>/edit">
                <input class="btn btn-show" type="submit" value="Edit"/>
            </form>
            
            <form method="post" action="/cars/<%= @car.id %>/delete">
                <input class="btn btn-show" type="submit" value="Delete Car"/>
            </form>
        </div>
    </div>