    <div class="obj-container">
        <p class="obj-header">Manufacturer: <%= @car.manufacturer? %></p>
        <p class="obj-header">Model: <%= @car.model %></p>
        <p class="obj-header">Condition: <%= @car.condition %></p>
        <p class="obj-header">Type: <%= @car.type %></p>
        <p class="obj-header">Year: <%= @car.year %></p>
        <p class="obj-header">Engine: <%= @car.engine %></p>
        <p class="obj-header">Transmission: <%= @car.transmission %></p>
        <p class="obj-header">Fuel Type: <%= @car.fuel_type %></p>
        <p class="obj-header">Description: <%= @car.description %></p>
        <p class="obj-header">Stock: 
        <span class="stock-span-1"><%= @span1 %></span>
        <span class="stock-span-2"><%= @span2 %></span>
        <span class="stock-span-3"><%= @span3 %></span></p>
        <p class="obj-header">Buy Price: £<%= @car.buy_price %></p>
        <p class="obj-header">Sell Price: £<%= @car.sell_price %></p>
        <hr/>
        <a class="btn" href="/cars">Back To Inventory</a>
        <a class="btn" href="/cars/<%= @car.id %>/edit">Edit</a>
        <form method="post" action="/cars/<%= @car.id %>/delete">
            <input class="btn" type="submit" value="Delete Car"/>
        </form>
    </div>